<!-- Vérifie si l’utilisateur a prévu des tâches pour la journée en cours ou non. Si non, il s’adresse aux composants fils : -->
<h1>
  Tableau de bord
  <small class="text-muted"> - {{ currentDate }}</small>
</h1>

<!-- On vérifie si l'utilisateur a prévu des tâches ou non : -->
<al-dashboard-workday
  *ngIf="(workday$ | async) as workday; else emptyWorkday"
  [workday]="workday">
</al-dashboard-workday>

<ng-template #emptyWorkday>
  <p class="text-center lead m-5">
    {{ currentUser?.name }}, pas de travail pour aujourd'hui !
    <img draggable="false" role="img" class="emoji" alt="" src="https://s.w.org/images/core/emoji/14.0.0/svg/1f334.svg">
  </p>
</ng-template>