<h1>
    Tableau De Bord
    <small class="text-muted"> - {{ currentDate }}</small>
</h1>

<al-dashboard-pomodoro-progress></al-dashboard-pomodoro-progress>

 
<!-- Start button. (on pourrait découper les boutons de contrôle dans un composant à part).-->
<div class="text-center my-3">
    <button class="btn btn-success btn-sm">
      Démarrer le Pomodoro
    </button>
  </div>
   
  <!-- Cancel et Stop butttons -->
  <div class="text-center my-3">
    <button class="btn btn-sm mr-1">
      Annuler le Pomodoro
    </button>
    <button class="btn btn-success btn-sm">
      Terminé le Pomodoro
    </button>
  </div>
   
  <!-- Display tasks list-->
  <div *ngIf="(workday$ | async) as workday">
    <al-dashboard-task-item
      *ngFor="let task of workday.tasks"
      [task]="task">
    </al-dashboard-task-item>
  </div>