<!-- Le template a besoin d’accéder à toutes les journées de travail => NgFor pour toutes les afficher.
Aussi, plutôt que de passer les propriétés d’une journée de travail une à une au composant fils, nous passons directement la journée de travail en tant que telle. -->
  <div *ngIf="workdays" class="row">
    <al-planning-workday-item
      *ngFor="let workday of workdays"
      [workday]="workday"
      (workdayRemoved)="onWorkdayRemoved(workday)"
      class="col-md-4 d-flex">
    </al-planning-workday-item>
  </div>




<!-- ======================================================================================================================================= -->
<!-- AVANT : 
  Plutôt que de passer l’objet workday comme ci-dessous, nous allons passer chaque propriété d'entrée depuis le composant parent
  puis interagir avec celles-ci depuis le composant fils (dumb).
  Entre parenthèses, on met le nom de la propriété de sortie que l’on souhaite intercepter (ici, workdayRemoved)
  On définit la méthode onWorkdayRemoved dans le composant parent, qui sera chargé d’intercepter les évènements émis par le composant fils. -->

 <!-- <div class="row">
    <al-planning-workday-item 
      *ngFor="let workday of workdays$ | async"
      [dueDate]="workday.dueDate"
      [doneTasks]="workday.doneTasks"
      [remainingTasks]="workday.remainingTasks"
      (workdayRemoved)="onWorkdayRemoved($event)"
      class="col-md-4">
    </al-planning-workday-item>
</div> -->
